*{
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

.content{
  min-width: 100vw;
  min-height: 100vh;
  background-color: #1e2129;
  font-family: 'Yantramanav', sans-serif;
  text-align: center;
}

main{
  position: relative;
  width: auto;
  white-space: nowrap;
  height: calc(100vh - 120px);
  text-align: left;
  display: inline-block;
  padding-top: 80px;
}
